<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.blog.dao.StatusDao">

    <select id="getOptionsStatus" resultType="com.hz.blog.entity.BlogStatus">
        select status_id,status_name,status_value,status_type from blog_status where status_type =#{statusType}
    </select>

    <select id="getStatus" resultType="com.hz.blog.entity.BlogStatus">
        select status_id,status_name,status_value,status_type from blog_status
    </select>


    <select id="getPostById" resultType="com.hz.blog.entity.Post">
        select id,post_id,author_id,author_name,channel_id,comments,created,favors,featured,status,summary,tags,
               thumbnail,title,views,weight from blog_post where id=#{id}
    </select>

    <select id="getPostByName" resultType="com.hz.blog.entity.Post">
        select id,post_id,author_id,author_name,channel_id,comments,created,favors,featured,status,summary,tags,
               thumbnail,title,views,weight from blog_post where title=#{name}
    </select>

    <select id="getPostListByAuthor" resultType="com.hz.blog.entity.Post">
        select id,post_id,author_id,author_name,channel_id,comments,created,favors,featured,status,summary,tags,
               thumbnail,title,views,weight from blog_post where author_id=#{authorId}
    </select>


    <select id="getPostListByOther" resultType="com.hz.blog.entity.Post">
        select id,post_id,author_id,channel_id,comments,created,favors,featured,status,summary,tags,
               thumbnail,title,views,weight ,author_name from blog_post
        <where>
            <if test="authorId !=null and authorId != ''">
                author_id = #{authorId}
            </if>

            <if test="authorName !=null and authorName != ''">
                author_name = #{authorName}
            </if>

            <if test="postId !=null and  postId != ''">
                and post_id =#{postId}
            </if>

            <if test="status !=null and  status != ''">
                and status =#{status}
            </if>

            <if test="title !=null and  title != ''">
                and title =#{title}
            </if>
        </where>
    </select>

    <insert id="addStatus" parameterType="com.hz.blog.entity.BlogStatus">
        insert into blog_status values(null,#{statusId},#{statusName},#{statusValue},#{statusType})
    </insert>

    <update id="updateStatus" parameterType="com.hz.blog.entity.BlogStatus">
        update blog_status set  status_name=#{statusName}, status_value =#{statusValue},
                              status_type=#{statusType}
        where status_id =#{statusId}
    </update>

    <!--<delete id="deletePost" parameterType="BigInteger">
        delete from blog_post where post_id=#{postId}
    </delete>-->

    <delete id="deleteStatus" parameterType="String">
        delete from blog_status  where status_id =#{statusId}
    </delete>

    <delete id="deletePosts">
        delete blog_post,post_tag from blog_post  left join post_tag  on blog_post.post_id = post_tag.post_id
        <where>
            <foreach collection="posts" item="post" index="index" separator=",">
                <!--        <foreach item="posts" collection="list" index="index" open="("-->
                <!--                 separator="," close=")">-->
                blog_post.post_id=#{post}
            </foreach>

            and blog_post.author_id =#{authorId}
        </where>


    </delete>



</mapper>