<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.blog.dao.SysConfigDao">

    <select id="selectOss" parameterType="String" resultType="com.hz.blog.entity.SysOss">
        select id,endpoint,accesskeyid,accesskeysecret,bucketname,urlprefix,createdate,updatedate,
        updateuser,sysname,type from sys_config <where>
        sysname =#{sysName}
        </where>
    </select>

    <select id="selectAllOss" resultType="com.hz.blog.entity.SysOss">
        select id,endpoint,accesskeyid,accesskeysecret,bucketname,urlprefix,createdate,updatedate,
        updateuser,sysname,type from sys_config
    </select>

    <insert id="createSysConfig" parameterType="com.hz.blog.entity.SysOss">
        insert into sys_config values(null ,#{endpoint},#{accessKeyId},#{accessKeySecret},#{bucketName},#{urlPrefix},
        #{createDate},#{updateDate},#{updateUser},#{sysName},#{type})
    </insert>

    <update id="updateOss" parameterType="com.hz.blog.entity.SysOss">
        update sys_config set endpoint=#{endponit},accesskeyid =#{accessKeyId},accesskeysecret = #{accessKeySecret},bucketname =#{bucketName},urlprefix =#{urlPrefix},
        updatedate =#{updateDate},updateuser =#{updateUser} where sysname =#{sysName}
    </update>

    <delete id="deleteOss">
        delete from sys_config where sysname =#{sysName}
    </delete>
</mapper>