<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.blog.dao.UserInfoDao">
    
    <insert id="insertUserInfo" parameterType="com.hz.blog.entity.UserInfo">
        insert into user_info values (null,#{userId},#{enterpriseId},#{email},#{phoneNumber},#{bindQQ},#{bindWeChat},#{bindPhone},#{avatar},
        #{status},#{userType},#{fullName},#{aboutMe})
    </insert>

    <delete id="deleteUserInfo" parameterType="String">
        delete from user_info where userId =#{userId}
    </delete>

    <update id="updateUserInfo" parameterType="com.hz.blog.entity.UserInfo">
        update user_info set email =#{email},phone_number =#{phoneNumber},about_me=#{aboutMe} where userId =#{userId}
    </update>

    <select id="getUserInfo" parameterType="String" resultType="com.hz.blog.entity.UserInfo">
        select userId,enterprise_id,email,phone_number,bind_qq,bind_wechat,bind_phone,avatar,status,user_type,
        full_name,about_me from user_info where userId =#{userId}
    </select>
    
</mapper>