<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <
</head>
<body>
<h1>this is thymeleaf html</h1>
<h1>单个数据展示</h1>
欢迎：<span th:text="${name}"></span>
username: <span th:utext="${username}"></span>
<input type="text" th:value="${username}">

<h1>展示对象数据</h1>
<ul>
    <li>id:<span th:text="${user.id}"></span> </li>
    <li>name:<span th:text="${user.name}"></span> </li>
    <li>age:<span th:text="${user.age}"></span> </li>
    <li>bir:<span th:text="${#dates.format(user.bir,'yyyy-MM--dd')}"></span> </li>

    <h1>有条件展示数据</h1>
    <span th:if="${user.age} le 23" th:text="${user.name}"></span>

    <ul th:each="user:${users}">
        <li>当前为第<span th:text="${userStat.index}"/>行</li>
        <li>id:<span th:text="${user.id}"></span> </li>
        <li>name:<span th:text="${user.name}"></span> </li>
        <li>age:<span th:text="${user.age}"></span> </li>
        <li>bir:<span th:text="${#dates.format(user.bir,'yyyy-MM--dd')}"></span> </li>
        <li>集合里的总记录数：<span th:text="${userStat.size}"></span></li>
    </ul>

    <a th:href="@{/user/delete(id=20,name='lisi')}">删除记录</a>

</ul>

</body>
</html>